body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cdcdcd;
  font-family: 'Shrikhand', cursive;
}

.logo-color {
  color:rgb(215, 111, 30);
}


.artist-specific-container {
  background-color: #c0c0c0;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
